.nav-button {
    width: 126px;
    height: 42px;
    font-family: $ff;
    font-size: $fs-s;
    color: $black;
    border: 1px solid $black;
    background: transparent;
    cursor: pointer;
    transition: all $tr;

    &:hover {
        color: $accent;
        border-color: $accent;
    }
}

.articles-button {
    width: 100%;
    padding: 13px 0;
    border: none;
    color: $white;
    background: $black;
    font-weight: $fw-regular;
    font-size: $fs-m;
    line-height: 1.6;
    transition: $tr;
    cursor: pointer;

    &:hover {
        color: $accent;
        border-color: $accent;
        opacity: 0.8;
    }
}