.nav-button {
	width: 50px; 
	height: 32px; 
	font-family: $ff;
	font-size: $fs-xxs; 
	color: $black;
	border: 1px solid $black;
	background: transparent;
	cursor: pointer;
	transition: all $tr;
	margin-left: 10px; 

	@media all and (min-width: $md) {
		width: 126px;
		height: 42px;
		font-size: $fs-s;
		margin: 0;
	}

	&:hover {
		color: $accent;
		border-color: $accent;
	}
}

.articles-button {
	width: 100%;
	padding: 13px 0;
	border: none;
	color: $white;
	background: $black;
	font-weight: $fw-regular;
	font-size: $fs-xs; 
	line-height: 1.6;
	transition: $tr;
	cursor: pointer;

	@media all and (min-width: $lg) {
		font-size: $fs-m;	
	}

	&:hover {
		color: $accent;
		border-color: $accent;
		opacity: $opacity;
	}
}

.form-button {
	padding: 12px 19px; 
	font-weight: $fw-regular;
	font-size: $fs-xs; 
	line-height: 1.4;
	letter-spacing: 0.48px;
	color: $white;    
	background: $black;
	border: none;
	transition: $tr;
	cursor: pointer;

	@media all and (min-width: $lg) {
		font-size: $fs-xm;	
	}

	&:hover {
		color: $accent;
		border-color: $accent;
		opacity: $opacity;
	}
}