h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p {
	font-family: $ff;
	font-weight: $fw-regular;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	font-size: 33px;
	line-height: 1.2;

	span {
		display: inline-block;
		width: 25px;
		height: 25px;
		background-image: url( '../img/general/title-logo.svg' );
		background-repeat: no-repeat;
		background-size: 100%;

		@media all and (min-width: $md) {
			width: 40px;
			height: 40px;
		}
	}

	@media all and (min-width: $md) {
		font-size: 56px
	}
}

h2, .h2 {
	font-size: 30px;
	font-weight: $fw-regular;
	letter-spacing: 1.44px;
	line-height: $lh-title;
	text-align: center;

	@media all and (min-width: $md) {
		font-size: 45px;
	}

	.span {
		display: inline-block;
		width: 100%;
		height: 47px;
		background-image: url( '../img/general/title-logo.svg' );
		background-position: center 1px ;
		background-repeat: no-repeat;
	}
}

h3, .h3 {
	font-size: 30px;
	line-height: $lh-h3;

	@media all and (min-width: $md) {
		font-size: 56px;
	}
}

h4, .h4 {
	font-size: 45px;
	line-height: $lh-title;
}

h5, .h5 {
	font-size: 14px;
	line-height: $lh-title;


	span {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		background-image: url( '../img/general/small-star.svg' );
		background-repeat: no-repeat;
	}
}

div {
	span {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url( '../img/general/small-star.svg' );
		background-repeat: no-repeat;
	}
}

a {
	display: inline-block;
	text-decoration: none;
	color: $black;
	transition: color ease-out $tr;
	font-size: $fs-xxs;
	line-height: $lh-title;

	@media all and (min-width: $sm) {
		font-size: $fs-s;
	}

	&:hover {
		opacity: $opacity;
		color: $accent;
		border-color: $accent;
	}
}

p {
	margin-top: 0;
	font-size: $fs-sm;
	line-height: $lh-title;

	@media all and (min-width: $md) {
		font-size: $fs-l;
	}
}

b, strong {
	font-weight: $fw-bold
}

.h2-text {
	text-align: center;
	font-weight: 400;
	font-size: $fs-xxs;
	line-height: 1.7;
	text-align: center;
	letter-spacing: 1.44px;
	text-transform: uppercase;
	color: $black;
	margin: 12px 0 32px 0;

	@media all and (min-width: $md) {
		font-size: $fs-sm;
		margin: 12px 0 62px 0;
	}
}