h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p {
	font-family: $ff;
	font-weight: $fw-regular;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	font-size: 56px;
	line-height: 1.2;

	span {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-image: url( '/img/general/title-logo.svg' ) no-repeat;
	}
	
	@media all and (min-width: $lg) {
		// font-size: 36px
	}
}

h2, .h2 {
	font-size: 45px;
	font-weight: $fw-regular;
	letter-spacing: 1.44px;
	line-height: $lh-title;
	text-align: center;

	.span {
		display: inline-block;
		width: 100%;
		height: 47px;
		background-image: url(/img/general/title-logo.svg) no-repeat;
		background-position: center 1px ;
	}

	@media all and (min-width: $lg) {
		// font-size: 36px
	}
}

h3, .h3 {
	font-size: 56px;
	line-height: $lh-h3;
}

h4, .h4 {
	font-size: 45px;
	line-height: $lh-title;

	@media all and (min-width: $lg) {
		// font-size: 24px
	}
}

h5, .h5 {
	font-size: 23px;
	line-height: $lh-title;

	span {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 5px;
		background-image: url( '/img/general/small-star.svg' ) no-repeat;
	}

	@media all and (min-width: $lg) {
		// font-size: 24px
	}
}

div {
	span {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url( '/img/general/small-star.svg' ) no-repeat;
	}
}

a {
	display: inline-block;
	text-decoration: none;
	color: $black;
	transition: color ease-out $tr;
	font-size: $fs-s;
	line-height: $lh-title;

	&:hover {
		opacity: $opacity;
		color: $accent;
		border-color: $accent;
	}
}

p {
	margin-top: 0;
	font-size: $fs-l;
	line-height: $lh-title;
}

b, strong {
	font-weight: $fw-bold
}

.h2-text {
	text-align: center;
	font-weight: 400;
	font-size: $fs-sm;
	line-height: 1.7;
	text-align: center;
	letter-spacing: 1.44px;
	text-transform: uppercase;
	color: $black;
	margin: 10px 0 60px 0;
}