// Grid.
$xs	 : 375px;
$sm	 : 480px;
$md	 : 768px;
$lg	 : 992px;
$xl	 : 1100px;
$xxl : 1320px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1100px;
$container-xxl: 1320px;

// Container padding.
$container-padding: 20px;

// Font families.
$ff			: 'Bai Jamjuree', sans-serif;

// Font sizes.
$fs-xxs	 : 12px;
$fs-xs	 : 14px;
$fs-s	 : 16px;
$fs-sm	 : 18px;
$fs-m	 : 20px;
$fs-xm	 : 23px;
$fs-l	 : 31px;
$fs-xl	 : 32px;

// Font weights.
$fw-regular	: 400;
$fw-bold	: 700;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;
$lh-h3	    : 1.2;

// Colors.
$white	 : #FFFFFF;
$black	 : #161513;
$grey-bg : #F2F1EF;
$accent  : #E94D35;

// Others.
$tr		 : 0.35s;
$opacity : 0.7;