.hero {
	padding: 95px 0 10px;

	@media all and (min-width: $md) {
		padding: 137px 0 50px;
	}

	&-wrapp {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.hero-text-wrapp {
			width: 100%;
			margin-right: 0px;
			padding: 30px 0 30px;
			text-align: center;

			@media all and (min-width: $lg) {
				width: 50%;
				text-align: left;
			}

			@media all and (min-width: $xxl) {
				width: 674px;
				margin-right: 44px;
				padding: 89px 0 104px;
			}

			h1 {
				margin-bottom: 40px;
			}

			.hero-subtext {
				width: 100%;
				margin-bottom: 38px;

				@media all and (min-width: $lg) {
					width: 473px;
				}

				h5 {
					display: flex;
					align-items: center;
					justify-content: center;

					@media all and (min-width: $lg) {
						justify-content: flex-start;
						font-size: $fs-xm;
					}
				}
			}
		}

		.hero-items {
			display: flex;
			justify-content: center;

			@media all and (min-width: $lg) {
				justify-content: flex-start;
			}

			.hero-text {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				width: 179px;
				height: 50px;
				color: $white;
				background: $black;
			}

			.nav-button {
				width: 144px;
				height: 50px;
				font-size: $fs-s;
			}
		}

		.hero-image-wrapp {
			display: flex;
			justify-content: center;
			width: 100%;

			@media all and (min-width: $lg) {
				width: 50%;
			}

			@media all and (min-width: $xl) {
				padding-left: 2%;
			}

			@media all and (min-width: $xxl) {
				width: 562px;
				padding: 0;
			}
		}
	}
}