.hero {
	padding: 27px 0 50px;

	&-wrapp {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.hero-text-wrapp {
			width: 674px;
			margin-right: 44px;
			padding: 89px 0 104px;

			h1 {
				margin-bottom: 40px;
			}

			.hero-subtext {
				width: 473px;
				align-items: center;
				margin-bottom: 38px;

				h5 {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}
		}

		.hero-items {
			display: flex;

			.hero-text {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				width: 179px;
				height: 50px;
				color: $white;
				background: $black;
			}

			.nav-button {
				width: 144px;
				height: 50px;
			}
		}

		.hero-image-wrapp {
			width: 562px;
		}
	}
}