.header {
	padding: 27px 0 40px;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;

	&-nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		@media all and (min-width: $md) {
			align-items: center;
		}

		.nav-logo {
			display: flex;
			cursor: pointer;
			transition: $tr;
			order: 0;
			align-items: center;

			@media all and (min-width: $md) {
				margin-right: 10px;
			}

			&:hover {
				opacity: $opacity;
			}
		}

		.nav-menu {
			display: flex;
			justify-content: space-evenly;
			width: 100%;
			order: 2;
			padding-top: 10px;

			@media all and (min-width: $md) {
				width: auto;
				padding: 0;
				order: 1;
			}

			@media all and (min-width: $lg) {
				justify-content: space-between;
			}

			.menu-item {
				display: flex;
				align-items: center;

				@media all and (min-width: $md) {
					margin-right: 32px;
				}

				&:last-child {
					margin-right: 0;
				}

				.link-for-scrolling {
					font-size: $fs-s;

					@media all and (min-width: $s) {
						font-size: $fs-xm;
					}

					@media all and (min-width: $md) {
						font-size: $fs-s;
					}
				}

				a {
					border-bottom: 1px solid $black;
					padding-bottom: 2px;
					transition: $tr;

					&:hover {
						border-color: $accent;
					}
				}
			}
		}
	}

	.nav-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: auto;
		order: 1;
		font-size: $fs-s;
		margin: 0;

		@media all and (min-width: $s) {
			font-size: $fs-xm;
			padding: 20px 15px;
		}

		@media all and (min-width: $md) {
			order: 2;
			font-size: $fs-s;
			padding: 0 10px;
		}

		@media all and (min-width: $lg) {
			width: 126px;
			height: 42px;
		}
	}

	&.scrolled {
        background-color: $grey-bg;
        box-shadow: 5px 5px 17px 5px rgba(243, 110, 2, 0.13);
        padding: 15px 0 ;
        z-index: 20;
        transition: padding $tr;
	}
}