.header-form {
    position:fixed;
    display:none;
    align-items:center;
    justify-content:center;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 100;
    overflow-y: auto;
    padding: 20px;
    background: rgb(22,22,21);
    background: linear-gradient(52deg, rgba(22, 22, 21, 0.884) 0%, rgba(149, 149, 149, 0.904) 100%);

    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 280px;
        height:370px;
        position:relative;
        top: 0;
        right: 0;
        margin: auto 0;
        border-radius: 20px;
        background-image: url('../img/form/bg-form.jpg');

        @media all and (min-width: $sm) {
            width: 380px;
        }

        @media all and (min-width: $md) {
            justify-content: space-evenly;
            width: 600px;
        }

        @media all and (min-width: $lg) {
            width: 800px;
            height: 500px;
        }

        @media all and (min-width: $xl) {
            width: 1000px;
            height: 600px;
        }
    }

    &.opened {
        display: flex;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;

    .nav-button {
        width: 100%;
        height: 50px;
        font-size: $fs-m;
        border-radius: 10px;
        border: 0;
        background-color: $black;
        color: $white;

        &:hover {
            border: 0;
            background-color: $accent;
            color: $white;
        }
    }
}

legend {
    margin: 0 auto 20px auto;
    font-family: $ff;
    font-size: $fs-l;
}

input {
    width: 250px;
    height: 25px;
    margin-bottom: 10px;
    font-family: $ff;
    font-size: $fs-m;
    padding: 10px;
    border: 2px solid $darkgrey;
    border-radius: 10px;
    transition: $tr;

    @media all and (min-width: $sm) {
        width: 350px;
	}

    @media all and (min-width: $md) {
        width: 500px;
	}

    @media all and (min-width: $lg) {
        width: 700px;
        height: 40px;
	}

    @media all and (min-width: $xl) {
        width: 900px;
        height: 60px;
	}

    &:focus {
        background-color: rgba(127, 162, 168, 0.418);
    }
}

textarea {
    font-family: $ff;
    font-size: $fs-m;
    padding: 10px;
    width: 250px;
    height: 100px;
    resize: none;
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px;
    transition: $tr;

    @media all and (min-width: $sm) {
        width: 350px;
	}

    @media all and (min-width: $md) {
        width: 500px;
	}

    @media all and (min-width: $lg) {
        width: 700px;
    }

    @media all and (min-width: $xl) {
        width: 900px;
        height: 150px;
    }

    &:focus {
        background-color: rgba(127, 162, 168, 0.418);
    }
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;

    span {
        position: absolute;
        top: 10px;
        right: 10px;
        background-image: none;
        width: 30px;
        height: 30px;
    }

    span:hover::before, span:hover::after {
        background: $accent;
    }

    span::before {
        content: "";
        position: absolute;
        top: 14px;
        right: 0;
        height: 4px;
        width: 100%;
        transform: rotate(-45deg);
        background: $black;
        transition: $tr;
    }

    span:after {
        content: "";
        position: absolute;
        top: 14px;
        right: 0;
        height: 4px;
        width: 100%;
        background: $black;
        transform: rotate(45deg);
        transition: $tr;
    }
}